<style>
     p1 {
        color:blue;
    }
</style>
<h4>KOOMPI Here’s the latest activity across everything</h4>
<div>Since 9am on Wednesday, February 05</div>
<hr>
<p1>Dear {{ name }}</p1>
<br><p>{{ message }}</p>